@import "tailwindcss";

@theme {
  --color-border: oklch(0.923 0.003 48.717);
  --color-input: oklch(0.923 0.003 48.717);
  --color-ring: oklch(0.216 0.006 56.043);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.147 0.004 49.25);
  --color-primary: oklch(0.216 0.006 56.043);
  --color-primary-foreground: oklch(0.985 0.001 106.423);
  --color-secondary: oklch(0.97 0.001 106.424);
  --color-secondary-foreground: oklch(0.216 0.006 56.043);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.985 0.001 106.423);
  --color-muted: oklch(0.97 0.001 106.424);
  --color-muted-foreground: oklch(0.553 0.013 58.071);
  --color-accent: oklch(0.97 0.001 106.424);
  --color-accent-foreground: oklch(0.216 0.006 56.043);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.147 0.004 49.25);
  --color-success: oklch(0.627 0.194 149.214);
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}
